:root {
    --rojo: #83320d;
    --azulOscuro: #00008B;
    --azul: #006FE6;
    --blanco: #d9e3ee;
    --titulos: 'Baloo 2', cursive;
    --parrafos: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 70%; /* 1rem = 10px */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--parrafos);
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.encabezado {
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    height: 35vh;
    min-height: 27rem;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 1;
}

.encabezado::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

h1 {
    font-family: var(--titulos);
    font-size: 4rem;
    text-align: center;
    color: #67d1ec;
    padding-top: 20%;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    background-color: #d9e3ee;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 1rem;
}

.navegacion a {
    padding: 1rem;
    color: var(--azulOscuro);
    transition: background-color 0.2s ease-in-out;
}

.navegacion a:hover {
    background-color: #0d7383;
    color: var(--blanco);
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0; /* Espaciado alrededor del separador */
}

.separator span {
    width: 3rem;
    height: 0.8rem;
    border: 2.6px solid #d9e3ee;
    background-color: #0d7383;
    margin: 0 0.5rem; /* Espaciado entre los spans */
}

.about-me, .projects, .contacto {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.proyecto {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid var(--azul);
    border-radius: 0.5rem;
    background-color: var(--blanco);
    width: 100%; 
    max-width: 600px; 
    text-align: center;
}

.btn {
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    color: #1f454f;
    background-color: var(--azul);
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 33);
    color: white;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #d9e3ee;
}
