/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body{
  font-family: Avenir!important;
}

h1, h2, h3, h4{
  font-family: Avenir!important;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}

.invalid-feedback{
  display: block!important;
  width: 100%!important;
  margin-top: -10px!important;
  margin-bottom: 10px!important;
  color: #CD0000!important;
}
